<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-amber-50">

    <div class="mt-20 mb-20 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-4xl divide-y">

        <div class="mb-2 divide-y divide-black">
          <p class="font-bold text-4xl">Ruas de Braga</p>
        </div>

        <ul role="list" class="pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {ruas}
        </ul>

      </div>
    </div>

  </body>
</html>
