<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-amber-50">

  <div class="mt-20 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-4xl divide-y">

      <div class="mb-2 divide-y divide-black">
        <div class="flex justify-start">
          <a href="../index.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mt-2 mr-5">
              <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
            </svg>
          </a>
          {nome}
        </div>
      </div>

      <div class="px-6 py-10 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
          <h2 class="mt-2 text-2xl font-bold tracking-tight text-gray-900">Descrição</h2>
          <div class="mt-2 max-w-2xl">
            {descr}

            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Imagens</h2>
          </div>
            {imagens}
          <div class="mt-16 max-w-2xl">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Casas</h2>
              {casas}
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>

